<form name="myForm" novalidate="novalidate" ng-submit="" class="form-horizontal form-label-8" role="form">
    <div class="grid-x-1-1-1">
        <div class="form-group">
            <label class="control-label">Input<span class="required">*</span></label>
            <div class="form-content">
                <input class="form-control" type="text" ng-model="inputValue" >            
                <div class="error-msg"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Input Unit</label>
            <div class="form-content">
                <div class="input-group input-bar">
                    <input class="form-control" type="text" ng-model="inputUnitValue" >
                    <span class="input-group-addon">元</span>
                </div>
                <div class="error-msg"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Select</label>
            <div class="form-content">
                <select class="form-control"><option>选项</option></select>
                <div class="error-msg"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Checkbox</label>
            <div class="form-content">
                <label class="checkbox-inline" ng-click="demoFormCheckboxStatusA = !demoFormCheckboxStatusA" ng-class="{'checkbox-inline-checked':demoFormCheckboxStatusA}">
                    小面
                </label>
                <label class="checkbox-inline" ng-click="demoFormCheckboxStatusB = !demoFormCheckboxStatusB" ng-class="{'checkbox-inline-checked':demoFormCheckboxStatusB}">
                    中面
                </label>
                <div class="error-msg"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Radio</label>
            <div class="form-content">
                <label class="radio-inline" ng-click="demoFormradioStatus = true" ng-class="{'radio-inline-checked':demoFormradioStatus}">
                    是
                </label>
                <label class="radio-inline" ng-click="demoFormradioStatus = false" ng-class="{'radio-inline-checked':!demoFormradioStatus}">
                    否
                </label>
                <div class="error-msg"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Switch</label>
            <div class="form-content">
                <label class="switch" ng-class="{'switch-open': demoFormSwitchStatus}" ng-click="demoFormSwitchStatus=!demoFormSwitchStatus"></label>
                <div class="error-msg"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">input addon</label>
            <div class="form-content">
                <div class="input-group">
                    <input class="form-control" type="text" >
                    <span class="input-group-addon">
                        <a href="#">查看编码规则</a>
                    </span>
                </div>
                <div class="error-msg"></div>
            </div>
        </div>
    </div>

    <div class="grid-x-2-1">
        <div class="form-group">
            <label class="control-label">Textarea</label>
            <div class="form-content">
                <textarea class="form-control" ng-model="" maxlength="400"></textarea>
                <div class="error-msg"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label"></label>
        <div class="form-content">
            <button type="submit" class="btn btn-success btn-lg"  >保存</button> 
        </div>
    </div>      
</form>