.change-pwd-dialog{
    color: #333;
    line-height: 1.42857143;
}
.change-pwd-dialog .modal-dialog{
    width: 450px;
}
.change-pwd-dialog .captcha{
    width: 115px;
    display: inline-block;
}
.change-pwd-dialog .btn-captcha{
    width: auto;
    float: right;
    height: 31px;
}