
<div class="pagination-box ng-hide form-inline" ng-show="pages && pages.length">
    <div class="fr">
        <span class="fl mr10 visible-large" style="padding-top:8px;">共{{totalCount}}条</span>
        <ul class="pagination fl">
            <li ng-class="{disabled: currentPage == 1}" ng-click="goPage(currentPage - 1);">
                <a href="javascript:void(0)"><i>«</i></a>
            </li>
            <li ng-show="isShowBeEllipsis">
                <a href="javascript:void(0);" ng-click="goPage(1);">1</a>
            </li>
            <li ng-show="isShowBeEllipsis" class="defaultA"><a href="javascript:void(0);">...</a></li>
            <li ng-repeat="item in pages" ng-class="{active: item == currentPage}" >
                <a href="javascript:void(0)" ng-bind="item" ng-click="goPage(item);"></a>
            </li>
            <li ng-show="isShowAfEllipsis" class="defaultA"><a href="javascript:void(0);">...</a></li>
            <li ng-show="isShowAfEllipsis">
                    <a href="javascript:void(0);" ng-click="goPage(maxPage);">{{maxPage}}</a>
                </li>
            <li ng-class="{disabled: currentPage == maxPage}" ng-click="goPage(currentPage + 1);">
                <a href="javascript:void(0)"><i>»</i></a>
            </li>
        </ul>
        <select class="fl" ng-show="!hidePageSizeChange" ng-model="pageSize" ng-change="change()" ng-options="pageSizeListName[item] for item in pageSizeList">
                </select>
        <div class="fl ml15">
            <div class="pagination-skip">
                <span>跳至</span>
                <input type="text" class="EUi-input" ng-model="number"> 
                <button class="btn" ng-click="goPage(number);">前往</button>
            </div>
        </div>
    </div>
</div>