<div class="pagination-box ng-hide form-inline" ng-show="pages && pages.length" ng-class="{'mini-page': miniPage}">
    <div class="fr">
        <div class="fl hide-block">
            <label>共{{totalCount}}条</label>
        </div>
        <ul class="pagination fl">
            <li ng-class="{disabled: currentPage == 1}" ng-click="goPage(currentPage - 1);">
                <a ><i class="arrow">«</i></a>
            </li>
            <li ng-show="isShowBeEllipsis">
                <a  ng-click="goPage(1);">1</a>
            </li>
            <li ng-show="isShowBeEllipsis && pages[0] !== 2" class="defaultA"><a >...</a></li>
            <li ng-repeat="item in pages" ng-class="{active: item == currentPage}" >
                <a  ng-bind="item" ng-click="goPage(item);"></a>
            </li>
            <li ng-show="isShowAfEllipsis" class="defaultA"><a >...</a></li>
            <li ng-show="isShowAfEllipsis">
                    <a  ng-click="goPage(maxPage);">{{maxPage}}</a>
                </li>
            <li ng-class="{disabled: currentPage == maxPage}" ng-click="goPage(currentPage + 1);">
                <a href=""><i class="arrow">»</i></a>
            </li>
        </ul>
        
        <div class="fr form-inline ml15">
            <select class="form-control hide-block" ng-show="!hidePageSizeChange" ng-model="pageSize" ng-change="change()" ng-options="pageSizeListName[item] for item in pageSizeList">
                </select>
            <label class="hide-block">跳到</label>
            <div class="input-group input-bar jump-page">
                <input type="text" class="form-control" ng-model="number"> 
                <span class="input-group-btn">
                    <button type="button" class="btn" ng-click="goPage(number);">GO</button>
                </span>
            </div>
        </div>
    </div>
</div>