.date-picker-range {
  position: absolute;
  border: 1px solid #DADDE4;
  border-radius: 3px;
  z-index: 9999;
}
.date-picker-range .confirm {
  text-align: center;
  padding: 5px;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.date-picker-range .date-panel {
  background: #fff;
  border-radius: 4px;
  display: flex;
}

.date-picker-range .date-btn-box{
  background: #fff;
  border-top:1px solid #eee;
  overflow: hidden;
  padding:8px 20px;
}
.date-picker-range .date-btn-box .btn{
  float: right;
}
.date-picker-range .date-btn-box span{
  float: left;
  line-height: 25px;
  font-size: 12px;
  color:#666;
  border:1px solid #eee;
  height: 25px;
  padding:0 10px;
  border-radius: 4px;
  color:#51A1FD;
}
.date-picker-range{
  border-radius: 4px;
  overflow: hidden;
}
.date-picker-range .date-panel-datetimepicker .datepicker-days{
  padding-bottom:10px;
}
