

.date-picker-range-date-container {
  display: inline-block;
}

.date-picker-range-date-container  .clear-date {
  display: none;
}
.date-picker-range-hasdata:hover  .input-date-range{
  background: none;
}
.date-picker-range-hasdata{
  position: relative;
}
.date-picker-range-hasdata .clear-date{
  position: absolute;
  top:13px;
  right:10px;
  color: #B9BEC3;
  height: 12px;
  width: 12px;
  cursor: pointer;
}
.date-picker-range-hasdata:hover .clear-date {
  display: inline-block;
 
}
.date-picker-range-hasdata:hover .clear-date:hover {
  color:#51A1FD;
}
.month-range-picker .input-date-range .input-date{
  width: 60px !important;
}