.date-picker-hasdata:hover .form-control {
  background: none;
}
.date-picker-date-container {
  display: inline-block;
}

.date-picker-date-container  .clear-date {
  display: none;
}
.date-picker-hasdata:hover .clear-date {
  display: inline-block;
  position: absolute;
  margin-left: -21px;
  margin-top: 13px;
  color: #B9BEC3;
  height: 12px;
  width: 12px;
  cursor: pointer;
}
.date-picker-hasdata:hover .clear-date:hover {
  color:#51A1FD;
}