<div class="date-picker-range-date-container" ng-class="{'date-picker-range-hasdata': dateRangeResult&&dateRangeResult.start&&dateRangeResult.end}">
    <div class="input-date-range"  tabindex="-1">
        <input placeholder="{{startPlaceholder}}" type="text" ng-model="dateRangeResult.start" class="form-control input-date">
        <span class="input-group-addon input-group-addon-no">-</span>
        <input placeholder="{{endPlaceholder}}" type="text"  ng-model="dateRangeResult.end" class="form-control input-date">
    </div>
    <span ng-click="clearDate($event);" class="clear-date icon-non-compliant-order"></span>
</div>