.date-picker-range {
  position: absolute;
  border: 1px solid #DADDE4;
  border-radius: 3px;
  z-index: 9999;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}
.date-picker-range .date-panel > div:first-child .date-panel-datetimepicker .datepicker-days{
  padding-right:0;
}
.date-picker-range .confirm {
  text-align: center;
  padding: 5px;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.date-picker-range .date-panel {
  background: #fff;
  border-radius: 4px;
  display: flex;
}

.date-picker-range .date-btn-box{
  background: #fff;
  border-top:1px solid #eee;
  overflow: hidden;
  padding:8px 20px;
}
.date-picker-range .date-btn-box .btn{
  float: right;
}
.date-picker-range .date-btn-box span{
  display: inline-block;
  line-height: 25px;
  font-size: 12px;
  border:1px solid #51A1FD;
  height: 25px;
  border-radius: 4px;
  color:#51A1FD;
  width:85px;
  text-align: center;
  float: left;
  padding-right:3px;
}
.date-picker-range .date-btn-box i{
  display: inline-block;
  line-height: 25px;
  font-size: 12px;
  color:#666;
  height: 25px;
  float: left;
  padding:0 5px;
}
.date-picker-range{
  border-radius: 4px;
  overflow: hidden;
}
.date-picker-range .date-panel-datetimepicker .datepicker-days{
  padding-bottom:10px;
}
.date-picker-range .date-panel-datetimepicker .range .date-item-bg{
  background: #e9eff4;
}
.date-picker-range .date-panel-datetimepicker .end  .date-item-bg{
  background: #e9eff4;
  border-radius: 0 50px 50px 0;
}
.date-picker-range .date-panel-datetimepicker .start  .date-item-bg{
  background: #e9eff4;
  border-radius: 50px 0 0 50px;
}

//
.date-panel-title{
  
}
.date-panel-title > h2{
  margin: 10px 0px -15px 10px;
  background: #f5f5f5;
  text-align: center;
  padding: 8px 0;
  color:#666;
  border-radius: 3px 3px 0 0;
}
.date-panel-title:last-child > h2{
  margin: 10px 10px -15px 10px;
}
