<div class="date-panel-datetimepicker">
  <div style="display: flex;">
    <div class="datepicker" ng-hide="timePick">
      <div class="datepicker-days" ng-show="datePicker.showPanel==='day'">
        <table class="table-condensed">
          <thead>
            <tr>
              <th class="prev prevYear" ng-click="datePicker.setPreYear('day')" ng-hide="hideYearLeft" ng-class="{disabled: !datePicker.dateView.prevYear}"></th>
              <th ng-show="hideYearLeft"></th>
              <th class="prev prevMonth" ng-class="{disabled: !datePicker.dateView.prevMonth}" ng-hide="hideMonthLeft" ng-click="datePicker.setPrevMonth()"></th>
              <th ng-show="hideMonthLeft"></th>
              <th colspan={{weekPick?4:3}} class="picker-switch" ng-click="datePicker.showPanel='month'">{{datePicker.dateData.year}}年{{datePicker.dateData.month}}月 </th>
              <th class="next nextMonth" ng-class="{disabled: !datePicker.dateView.nextMonth}" ng-hide="hideMonthRight" ng-click="datePicker.setNextMonth()"></th>
              <th ng-show="hideMonthRight"></th>
              <th class="next nextYear" ng-click="datePicker.setNextYear('day')" ng-hide="hideYearRight" ng-class="{disabled: !datePicker.dateView.nextYear}"></th>
              <th ng-show="hideYearRight"></th>
            </tr>
            <tr>
              <th class="week" ng-show="weekPick">周</th>
              <th class="dow">日</th>
              <th class="dow">一</th>
              <th class="dow">二</th>
              <th class="dow">三</th>
              <th class="dow">四</th>
              <th class="dow">五</th>
              <th class="dow">六</th>
            </tr>
          </thead>
          <tbody ng-mouseleave="mouseleave()" ng-class="{'weekpick': weekPick}">
            <tr ng-repeat="rows in datePicker.dateView"  ng-class="{'week-pick-able': !(rows[0].disabled||rows[6].disabled) }">
              <td class="week" ng-show="weekPick" ng-class="{'last-week': $index === 5}">{{rows.week}} </td>
              <td class="day" ng-class="{old: col.tag==='old', new: col.tag==='new', 'start': col.rangeTag === 'start','end': col.rangeTag === 'end',today: col.tag==='today', active: col.tag==='active', disabled: col.disabled, range: col.range, hover: col.tag === 'hover', 
                weekStart: !col.disabled&&weekPick&&($index === 0), weekBetween: !col.disabled&&weekPick&&(($index>0)&&($index<6)), weekEnd: !col.disabled&&weekPick&&($index === 6), weekRange:(col.weekStart||col.weekBetween||col.weekEnd)}"
                ng-repeat="col in rows">
                <div class="date-item-bg"><span class="date-item" ng-click="pickEvent(col);" ng-mousemove="hover(col)">{{col.value}}</span></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="datepicker-months" ng-show="datePicker.showPanel==='month'">
        <table class="table-condensed">
          <thead>
            <tr>
              <th class="prev prevYear" ng-click="datePicker.setPreYear()" ng-class="{disabled: !datePicker.monthView.prevYear}"></th>
              <th colspan="5" class="picker-switch" ng-click="datePicker.showPanel='year'">{{datePicker.dateData.year}}</th>
              <th class="next nextYear" ng-click="datePicker.setNextYear()" ng-class="{disabled: !datePicker.monthView.nextYear}"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="7" style="font-size:0; padding: 0;" >
                <span ng-repeat="currmonth in datePicker.monthView" class="month"  ng-class="{today: currmonth.today, active: currmonth.checked, disabled: currmonth.disabled}" 
                  ng-click="pickMonthEvent(currmonth)">{{currmonth.dataView}}月</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="datepicker-years" ng-show="datePicker.showPanel==='year'">
        <table class="table-condensed">
          <thead>
            <tr>
              <th colspan="7">
                <span class="picker-switch">
                    <span class="prev prevYear" ng-click="datePicker.setPreDecade()" style="width: 35px;height: 20px;" ng-class="{disabled: datePicker.yearView[0].disabled}"></span>
                    <span colspan="5" class="picker-switch">{{datePicker.yearView[1].data}}-{{datePicker.yearView[10].data}}</span>
                    <span class="next nextYear" ng-click="datePicker.setNextDecade()" style="width: 35px;height: 20px;" ng-class="{disabled: datePicker.yearView[11].disabled}"></span>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="7" style="font-size:0; padding: 0;">
                <span class="year" ng-class="{old: $first||$last, active: curryear.checked, disabled: curryear.disabled}" ng-repeat="curryear in datePicker.yearView"
                  ng-click="datePicker.setYear(curryear)">{{curryear.data}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="date-panel-time" ng-show="pickTime||timePick" ng-class="{'time-picker-only':timePick }">
      <div class="time-title" ng-hide="timePick">时间</div>
      <div class="time-picker">
        <div class="time-picker-title">          
          <div class="text-center">
            时
          </div>
          <div class="text-center">
            分
          </div>
          <div class="text-center" ng-show="showSeconds">
            秒
          </div>
        </div>
        <div class="time-picker-content-wrap">
          <div class="time-picker-content">
            <div class="time-area" >
              <div class="time-wrap" data-func="setHour">
                <ul class="time-zone" >
                  <li ng-class="{active: currhour.active, disabled: currhour.disabled, first: currhour.first, last: currhour.last }"  ng-click="setHour(currhour, $index)" data-index={{$index}}  data-value={{currhour.value}} data-disabled={{currhour.disabled}} ng-repeat="currhour in datePicker.hourView">{{currhour.value}}</li>
                </ul>
              </div>
              <div class="scroll-bar-vertical">
                <div class="scroll-bar-thumb" style="height:19.767%;" ></div>
              </div>
            </div>
            <div class="time-area"> 
              <div class="time-wrap" data-func="setMinute">
                <ul class="time-zone" >
                  <li ng-class="{active: currmin.active, disabled: currmin.disabled, first: currmin.first, last: currmin.last }" data-value={{currmin.value}} data-index={{$index}} data-disabled={{currmin.disabled}}  ng-click="setMinute(currmin, $index)" ng-repeat="currmin in datePicker.minView">{{currmin.value}}</li>
                </ul>
              </div>
              <div class="scroll-bar-vertical">
                <div class="scroll-bar-thumb" style="height:8.865%;" ></div>
              </div>
            </div>
            <div ng-show="showSeconds" class="time-area">
              <div class="time-wrap" data-func="setSecond">
                <ul class="time-zone" >
                  <li ng-class="{active: currsecond.active, disabled: currsecond.disabled, first: currsecond.first, last: currsecond.last  }"  data-value={{currsecond.value}} data-index={{$index}} data-disabled={{currsecond.disabled}} ng-click="setSecond(currsecond, $index)" ng-repeat="currsecond in datePicker.secondView">{{currsecond.value}}</li>
                </ul>
              </div>
              <div class="scroll-bar-vertical">
                <div class="scroll-bar-thumb" style="height:8.865%;" ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>