.week-picker-date-container:hover .input-date-range {
  background: none;
}
.input-date-range:focus {
  outline: none;
  box-shadow: none;
  border-color: #51A1FD;
  border-width: 1px;
}



.week-picker-date-container {
  display: inline-block;
}

.week-picker-date-container  .clear-date {
  display: none;
}
.week-picker-date-container:hover .clear-date {
  display: inline-block;
  position: absolute;
  margin-left: -26px;
  margin-top: 14px;
  color: #B9BEC3;
  height: 12px;
  width: 12px;
}