.week-picker-hasdata:hover .input-date-range {
  background: none;
}


.week-picker-date-container {
  display: inline-block;
}

.week-picker-date-container  .clear-date {
  display: none;
}
.week-picker-hasdata:hover .clear-date {
  display: inline-block;
  position: absolute;
  margin-left: -26px;
  margin-top: 14px;
  color: #B9BEC3;
  height: 12px;
  width: 12px;
  cursor: pointer;
}
.week-picker-hasdata:hover .clear-date:hover {
  color:#51A1FD;
}