
<div 
    table-directive 
    api-url="'//www.mocky.io/v2/5aa2278c2f0000751ad4639f'" 
    items="items" 
    page-size="pageSize" 
    curr-page="currPage" 
    fetch="fetch"
    fetch-param="fetchParam" 
    format-data="formatData" 
    method="get" 
    mini-page="miniPage"
    
    ng-table-fixed="ngTableFixed" 
    fixed-left="2" 
    fixed-right="1" 
    fixed-header="true"
    >
    <table class="table">
        <thead>
            <tr>
                <th>操作</th>
                <th>序号</th>
                <th>手机号1</th>
                <th>手机号2</th>
                <th>手机号3</th>
                <th>手机号4</th>
                <th>手机号5</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(i, item) in items">
                <td class="handle">
                    <div table-handle-directive side="'right'" count="2">
                        <a handle href="" ng-show="true">审核</a>
                        <a handle href="" ng-show="false">详情</a>
                        <a handle href="">删除</a>
                        <a handle href="">处理</a>
                        <a handle href="">取消</a>
                    </div>
                </td>
                <td>{{ $index + 1 + (currPage - 1) * pageSize }}</td>
                <td>{{ item.mobilenumber }}</td>
                <td>{{ item.mobilenumber }}</td>
                <td>{{ item.mobilenumber }}</td>
                <td>{{ item.mobilenumber }}</td>
                <td>{{ item.mobilenumber }}</td>
                <td class="handle">
                    <div table-handle-directive side="'left'" count="3">
                        <a handle href="" ng-show="i + 1 == 1">操作1</a>
                        <a handle href="" ng-if="i + 1 == 2">操作2</a>
                        <a handle href="" ng-if="i + 1 >= 3">操作3</a>
                        <a handle href="" ng-if="i + 1 >= 4">操作4</a>
                        <a handle href="" ng-if="i + 1 >= 5">操作5</a>
                        <a handle href="" ng-if="i + 1 >= 6">操作6</a>
                        <a handle href="" ng-if="i + 1 >= 7">操作7</a>
                        <a handle href="" ng-if="i + 1 >= 8">操作8</a>
                        <a handle href="" ng-if="i + 1 >= 9">操作9</a>
                        <a handle href="" ng-if="i + 1 >= 10">操作10</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>