<button type="button" class="btn btn-default btn-loading" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}">Default</button>

<button type="button" class="btn btn-success" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}">Success</button>

<button type="button" class="btn btn-info" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}">Info</button>

<button type="button" class="btn btn-warning" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}">Warning</button>

<button type="button" class="btn btn-export" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}">export</button>

<button type="button" class="btn btn-danger" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}">Danger</button>

<button type="button" class="btn btn-dashed" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}">Dashed</button>

<button type="button" class="btn btn-link" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}">Link</button>
