<h2 class="codeTitle">置灰的按钮:</h2>
<button type="button" class="btn btn-default" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}" disabled="disabled">Default</button>

<button type="button" class="btn btn-success" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}" disabled="disabled">Success</button>

<button type="button" class="btn btn-info" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}" disabled="disabled">Info</button>

<button type="button" class="btn btn-warning" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}" disabled="disabled">Warning</button>

<button type="button" class="btn btn-export" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}" disabled="disabled">export</button>

<button type="button" class="btn btn-danger" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}" disabled="disabled">Danger</button>

<button type="button" class="btn btn-dashed" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}" disabled="disabled">Dashed</button>

<button type="button" class="btn btn-link" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}" disabled="disabled">Link</button>