<h2 class="codeTitle">带图标的按钮:</h2>
<button type="button" class="btn btn-default" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}"><i class="fa fa-phone"></i> Default</button>

<button type="button" class="btn btn-success" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}"><i class="fa fa-phone"></i> Success</button>

<button type="button" class="btn btn-warning" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}"><i class="fa fa-phone"></i></button>

<button type="button" class="btn btn-danger" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}"><i class="fa fa-phone"></i></button>

<button type="button" class="btn btn-dashed" ng-click="demoButtonsStatus = !demoButtonsStatus" ng-class="{'btn-loading':demoButtonsStatus}"><i class="fa fa-phone"></i> Dashed</button>
