<div class="btn-group">
	<button type="button" class="btn btn-default" ng-click="demoButtonGroupB=0;" ng-class="{active:!demoButtonGroupB,'btn-loading': !demoButtonGroupB}"><i class="fa fa-user"></i> 全部</button>
	<button type="button" class="btn btn-default" ng-click="demoButtonGroupB=1" ng-class="{active:demoButtonGroupB == 1}"><i class="fa fa-user"></i> 已授信</button>
	<button type="button" class="btn btn-default" ng-click="demoButtonGroupB=2" ng-class="{active:demoButtonGroupB == 2}"><i class="fa fa-user"></i></button>
</div>