<div class="imageUpload">
    <div class="thumb">
        <ul>
            <li>
                <div class="upload-box" style="display: none;">
                    <label>
                        <span>
                            <i class="fa fa-plus"></i>
                        </span>
                        <input type="file" ng-model="file" value="上传文件" style="display: none;">
                        上传
                    </label>
                </div>
                <div class="images-box">

                </div>
                <div class="loading-box">
                    <p>
                        上传中 ···
                    </p>
                    <div>
                        <span class="succeed"></span>
                        <span class="error"></span>
                        <span class="loading"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="noThumb">
        <label>
            <i class="fa fa-upload mr5"></i>
            <input type="file" ng-model="file" value="上传文件" style="display: none;">
            上传文件
        </label>
        <ul>
            <li>
                <span>
                    <i class="fa fa-chain-broken"></i>
                </span>
                <div>
                    <a href="javascript:;" class="succeed">图片1.jpg</a>
                    <a href="javascript:;" class="remove">
                        <i class="fa fa-close"></i>
                    </a>
                    <div>
                        <span></span>
                    </div>
                </div>
            </li>
            <li>
                <span>
                    <i class="fa fa-chain-broken"></i>
                </span>
                <div>
                    <a href="javascript:;" class="error">图片2.jpg</a>
                    <a href="javascript:;" class="remove">
                        <i class="fa fa-close"></i>
                    </a>
                    <div>
                        <span></span>
                    </div>
                </div>
            </li>
            <li>
                <span>
                    <i class="fa fa-chain-broken"></i>
                </span>
                <div>
                    <a href="javascript:;" class="loading">图片3.jpg</a>
                    <a href="javascript:;" class="remove">
                        <i class="fa fa-close"></i>
                    </a>
                    <div>
                        <span></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>