<div class="imageUpload">
    <div class="thumb" ng-if="moduleType === 'thumb'">
        <ul>
            <li ng-repeat="item in imageArray">
                <div class="upload-box" ng-show="!item.status">
                    <label>
                        <span>
                            <i class="fa fa-plus"></i>
                        </span>
                        <input type="file" ng-model="file" style="display: none;">
                        上传
                    </label>
                </div>
                <div class="loading-box" ng-show="item.status === 'loading' || item.status === 'error'">
                    <p>
                        <span ng-show="item.status === 'loading'">上传中</span>
                        <span ng-show="item.status === 'success'">上传成功</span>
                        <span ng-show="item.status === 'error'">上传失败</span>
                        ···
                    </p>
                    <div>
                        <span class="success" ng-show="item.status === 'success'" style="width: {{ item.loadingTempo }}%;"></span>
                        <span class="error" ng-show="item.status === 'error'" style="width: {{ item.loadingTempo }}%;"></span>
                        <span class="loading" ng-show="item.status === 'loading'" style="width: {{ item.loadingTempo }}%;"></span>
                    </div>
                </div>
                <div class="images-box" ng-show="item.status === 'success' || item.status === 'error'" ng-class="{error: item.status === 'error'}">
                    <!--<div class="img" style="background: url({{ item.dataImg }}) no-repeat center center;background-size: contain;"></div>-->
                    <img class="img" image-show img-url="item.dataImg" custom-css="true" show-click="showClick" bg-click="false" mini-img="true" ng-show="item.status === 'success'">
                    <div class="barrier">
                        <a href="javascript:;" ng-show="item.status === 'success'" ng-click="showClick()">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="javascript:;" ng-click="remove(item,$index)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                        <a href="javascript:;" ng-show="item.status === 'success'" ng-click="download($event,item)">
                            <i class="fa fa-download"></i>
                        </a>
                        <a style="display: none;"></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- noThumb模式 -->
    <div class="noThumb" ng-if="moduleType === 'noThumb'">
        <label ng-if="!dNum && !readonly">
            <i class="fa fa-upload mr5"></i>
            <input type="file" ng-model="file" style="display: none;" multiple accept="{{accept}}">
            上传文件
        </label>
        <label ng-if="dNum && imageArray.length < dNum && !readonly">
            <i class="fa fa-upload mr5"></i>
            <input type="file" ng-model="file" style="display: none;" multiple accept="{{accept}}">
            上传文件
        </label>
        <label ng-click="fileFn();" ng-if="dNum && imageArray.length >= dNum && !readonly">
            <i class="fa fa-upload mr5"></i>
            上传文件
        </label>
        <ul>
            <li ng-repeat="item in imageArray">
                <span style="color:#10C2B0;">
                    <i class="fa fa-file-text-o"></i>
                </span>
                <div>
                    <!-- <a href="javascript:;" image-show img-url="item.imgData || item.dataImg" text-only="true" alt-text="item.imgName" show-click="showClick" class="success" ng-show="item.status === 'success' && item.imgName.indexOf('.jpg')>-1 || item.imgName.indexOf('.jpeg')>-1 || item.imgName.indexOf('.png')>-1"></a> -->
                    <a href="javascript:;" image-show img-url="item.imgData || item.dataImg" text-only="true" alt-text="item.imgName" show-click="showClick" class="success" ng-show="item.status === 'success' && item.type === 'IMG'"></a>

                    <a href="javascript:;" class="error" ng-show="item.status === 'error'">{{ item.imgName }}（失败）</a>
                    <a href="javascript:;" class="loading" ng-show="item.status === 'loading'">{{ item.imgName }}（上传中）</a>
                    <a class="success" ng-show="item.status === 'success' && item.type !== 'IMG' ">{{ item.imgName }}</a>
                    
                    <a href="javascript:;" class="download" ng-show="readonly" ng-click="download($event,item)">
                        <i class="fa fa fa-download"></i>
                        下载
                    </a>
                    <!-- 图片预览按钮 -->
                    <!-- <a href="javascript:;" class="preview" ng-show="item.status === 'success' && (item.imgName.indexOf('.jpg')>-1 || item.imgName.indexOf('.jpeg')>-1 || item.imgName.indexOf('.png')>-1)" ng-click="showClick()">
                        <i class="fa fa-eye"></i>
                        预览
                    </a> -->
                    <a href="javascript:;" class="preview" ng-show="item.status === 'success' && item.type === 'IMG'" ng-click="showClick()">
                        <i class="fa fa-eye"></i>
                        预览
                    </a>
                    <!-- PDF预览按钮 -->
                    <!-- <a href="javascript:;" class="preview" ng-show="item.status === 'success' && (item.imgName.indexOf('.pdf')>-1)" ng-click="showPdf($event,item.dataImg)">
                        <i class="fa fa-eye"></i>
                        预览
                    </a> -->
                    <a href="javascript:;" class="preview" ng-show="item.status === 'success' && item.type !== 'IMG' && item.type !== 'RAR'" ng-click="showPdf($event,item.dataImg)">
                        <i class="fa fa-eye"></i>
                        预览
                    </a>
                    <a href="javascript:;" class="remove" ng-show="!readonly && item.status !== 'loading'" ng-click="remove(item,$index)">
                        <i class="fa fa-trash-o"></i>
                        删除
                    </a>
                    <br class="clearfix">
                    <div class="schedule" ng-show="item.status === 'loading'">
                        <span style="width: {{ item.loadingTempo }}%;"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- example模式 -->
    <div class="example" ng-if="moduleType === 'example'">
        <div class="bgImg">
            <div ng-show="imageArray[0] && imageArray[0].status === 'success'" style="background: url({{ imageArray[0].dataImg }}) no-repeat center center;background-size: cover;"></div>
            <div ng-show="!imageArray[0] || !imageArray[0].status === 'success'" style="background: url({{ defaultImg }}) no-repeat center center;background-size: cover;"></div>
        </div>
        <div class="type" ng-show="item.status === 'loading' || item.status === 'error'">
            <span class="success" ng-show="imageArray[0].status === 'success'" style="width: {{ imageArray[0].loadingTempo }}%;"></span>
            <span class="error" ng-show="imageArray[0].status === 'error'" style="width: {{ imageArray[0].loadingTempo }}%;"></span>
            <span class="loading" ng-show="imageArray[0].status === 'loading'" style="width: {{ imageArray[0].loadingTempo }}%;"></span>
        </div>
        <span class="errorText" ng-show="imageArray[0].status === 'error'">上传失败</span>
        <div class="clearfix operation">
            <div class="fl">
                <label>
                    <input type="file" ng-model="file" style="display: none;">
                    上传
                </label>
            </div>
            <div class="fl hint">{{ exampleText }}</div>
        </div>
    </div>
</div>