
/*alert*/
.elayerout-alert{
  position: fixed;
  top:50px;
  left: 50%;
  opacity: 0;
  font-size: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,.2);
  transform: translate(-50%);
  overflow: hidden;
  z-index: 99999999;
  min-width:260px;
  border-radius: 3px;
  background: #FFFFFF;
  border: 1px solid #E4E7EF;
  box-shadow: 0 2px 4px 0 rgba(30,40,60,0.10);
  transition: top 0.5s, opacity 0.5s, transform 0.5s;
}
.elayerout-alert .elayerout-alert-content{
  padding:10px 40px 10px 20px;
}
.elayerout-alert .elayerout-alert-msg{
  display: inline-block;
  font-size: 14px;
  color: #1E283C;
}
.elayerout-alert .elayerout-alert-msg::before{
  font-family: 'iconscms';
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  vertical-align: -2px;
}
.elayerout-alert .elayerout-alert-err-msg{
  display: block;
  color: #ff0000;
  margin-top: 20px;
  display: none;
}
.elayerout-alert-btnclose{
  font-size: 20px;
  color:#A6A6A6;
  position: absolute;
  top:5px;
  right:10px;
}

.elayerout-alert.success{
  background: rgba(245,255,233,0.98);
  border: 1px solid rgba(106,193,10,0.30);
  box-shadow: 0 2px 6px 0 rgba(106,193,10,0.15);
  border-radius: 6px;
}
.elayerout-alert.success .elayerout-alert-msg{
  color: #5BA508;
}
.elayerout-alert.success .elayerout-alert-msg::before{
  content: "\E912";
  color:#6AC00B;
}

.elayerout-alert.info{
  background: rgba(232,246,255,0.98);
  border: 1px solid rgba(100,175,232,0.30);
  box-shadow: 0 2px 6px 0 rgba(100,175,232,0.10);
  border-radius: 6px;
}
.elayerout-alert.info .elayerout-alert-msg{
  color: #51A1FD;
}
.elayerout-alert.info .elayerout-alert-msg::before{
  content: "\E90F";
  color:#64AFE8;
}

.elayerout-alert.warning{
  background: rgba(255,249,232,0.98);
  border: 1px solid rgba(255,199,27,0.30);
  box-shadow: 0 2px 6px 0 rgba(255,229,146,0.30);
  border-radius: 6px;
}
.elayerout-alert.warning .elayerout-alert-msg{
  color: #EAA600;
}
.elayerout-alert.warning .elayerout-alert-msg::before{
  content: "\E910";
  color:#FFC71B;
}

.elayerout-alert.error{
  background: rgba(254,234,232,0.98);
  border: 1px solid rgba(254,56,36,0.30);
  box-shadow: 0 2px 6px 0 rgba(254,56,36,0.15);
  border-radius: 6px;
}
.elayerout-alert.error .elayerout-alert-msg{
  color: #FE3824;
}
.elayerout-alert.error .elayerout-alert-msg::before{
  content: "\E90E";
  color:#FE3824;
}

.elayerout-alert.error .elayerout-alert-btnclose,
.elayerout-alert.warning .elayerout-alert-btnclose,
.elayerout-alert.info .elayerout-alert-btnclose,
.elayerout-alert.success .elayerout-alert-btnclose{
  display: block;
}

/*confirm*/
.elayerout-alert.confirm{
  width: 474px;
  top:50%;
  transform: translate(-50%, -50%);
}
.elayerout-alert.confirm .elayerout-alert-btnclose{
  right:18px;
}
.elayerout-alert.confirm .elayerout-alert-content{
  padding-top:18px;
  min-height: 70px;
}
.elayerout-alert.confirm .modal-footer{
  background: #fff;
  display: block;
  padding:10px 20px 20px 20px;
}
.elayerout-alert.confirm .modal-footer .btn{
  padding-left:25px;
  padding-right: 25px;
  margin-left:15px;
}
.elayerout-alert-title{
  padding:20px 20px 0px 20px;
  background: #fff;
  font-size: 16px;
  color: #1E283C;
  line-height: 16px;
}
.elayerout-alert.confirm .modal-footer a.btn+a.btn{
  border-color: #eee;
}

/**/
.elayerout-alert-show{
  transform: translate(-50%, 10px);
  opacity: 1;
}
.elayerout-confirm-show{
  transform: translate(-50%, 10px);
  opacity: 1;
}
.elayerout-alert-over{
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  height: 100%;
  background: #000;
  opacity: 0;
  transition:opacity 0.5s;
  z-index: 10;
}
.elayerout-alert-over-show{
  opacity: 0.001;
}
.rightContent{
  padding: 15px;
}

.modal-dialog .elayerout-alert{
  position: absolute;
}




/* alert 2*/
.ui-alert-top{
    position: fixed;
    left: 50%;
    top:-110px;
    padding:30px;
    width: 300px;
    margin-left:-150px;
    border-top: 0;
    z-index: 99999;
    background-color:rgba(0,0,0,0.75);
    border-radius: 0 0 8px 8px;
    line-height: 0px;
    transition: top 0.5s;
    -moz-transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -o-transition: top 0.5s;
}
.ui-alert-top .content{
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    display: inline-block;
    padding-left:10px;
    vertical-align:middle;
    margin: 0;
    width: 190px;
}
.ui-alert-top #alertTypeIcon{
    width: 46px;
    height: 46px;
    vertical-align:middle;
    display: inline-block;
}
.ui-alert-success #alertTypeIcon{
    background: url(./img/icon.png?asFile) 0 -46px no-repeat;
}
.ui-alert-error #alertTypeIcon{
    background: url(./img/icon.png?asFile) 0 0 no-repeat;
}
.ui-alert-success .content{
    color:#85e010;
}
.ui-alert-error .content{
    color:#e20000;
    line-height: 22px;
}

