/*error no data*/
.error-no-data{
	color: #777;
	text-align: center;
	min-height: 300px;
	padding:80px;
	
	background-size: 75px;
}
.error-no-data > div{
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	white-space: pre;
	color: #1E283C;
	padding-top: 160px;
	background: url('./svg/noData.svg') top center no-repeat;
}
.modal .error-no-data{
	background: none;
	min-height: 0px;
	padding: 100px 0;
}