/*error no data*/
.error-no-data{
	color: #777;
	text-align: center;
	min-height: 300px;
	padding:80px;
}
.error-no-data > span{
	display: inline-block;
	line-height: 52px;
	text-align: left;
	background: url(./img/noData.png?asFile) 0 center no-repeat;
	padding-left: 90px;
	height: 90px;
	line-height: 90px;
	font-size: 22px;
}
.modal .error-no-data{
	background: none;
	min-height: 0px;
	padding: 100px 0;
}