@charset "utf-8";
.pagination-box{
    margin:15px 0;
    overflow: hidden;
}
.pagination-box .total{

}
.pagination-box .pagination{
    float: left;
}
.pagination-box .pagination li{
    float: left;
    padding:0 2px;
}
.pagination-box .pagination li,
.pagination-box .pagination li a{
    height: 31px;
    overflow: hidden;
    padding-top:0;
    padding-bottom:0;
    line-height: 31px;
    text-align: center;
    color: #6E7382;
}
.pagination-box .pagination li.active a{
    background: #51A1FD;
    border:1px solid #51A1FD;
    color:#fff;
}
.pagination-box .pagination i{
    font-style: normal;
    font-size: 20px;
    line-height: normal;
}
.pagination-box .pagination{
    margin:0;
}
.pagination-box .pagination .defaultA a{
    cursor: default;
    color: #6E7382;
    line-height: 24px;
}
.pagination-box .pagination .defaultA:hover{
    background: none;
}
.pagination-box .pagination .defaultA:hover a{
    color: #6E7382;
    background: none;
}
.pagination-box .pagination>li>a, .pagination>li>span{
    float: none;
    display: block;
}
.pagination-box .pagination>.disabled>a, 
.pagination-box .pagination>.disabled>a:focus, 
.pagination-box .pagination>.disabled>a:hover, 
.pagination-box .pagination>.disabled>span, 
.pagination-box .pagination>.disabled>span:focus, 
.pagination-box .pagination>.disabled>span:hover{
    color:#aaa;
}
.pagination-box .input-group{
    width:70px;
}
.pagination-box .input-bar .btn{
    padding-left:5px;
    padding-right:5px;
    font-size: 12px;
}
.pagination-box label{
    font-weight: normal;
    vertical-align: middle;
    margin: 0;
    padding: 0 5px 0 15px;
    color: #6E7382;
    height: 31px;
    line-height: 31px;
    display: inline-block;
}