/*星星*/
.star-box{
	display: inline-block;
	transform: translateY(4px);
}
.star-box .star{
	background: url('./img/empty.png') no-repeat center;
	width: 16px;
    height: 16px;
    margin-right: 2px;
    display: inline-block;
    background-size: cover;
}
.star-box .star.star-half{
	background: url('./img/half.png') no-repeat center;
	background-size: cover;
}
.star-box .star.star-full{
	background: url('./img/full.png') no-repeat center;
	background-size: cover;
}