<div class="navbar" role="navigation" ng-controller="mainNavCtrl" >
    <!-- <div class="navbar-hover" ng-click="hideHover();"></div> -->
    <div ng-if="sideLockDisplay" class="header-lock"><i class="fa fa-lock"></i></div>
    <div class="navbar-content" ng-class="{'content-padding-lock':sideLockDisplay}">
        <ul class="nav" ng-repeat="item in navs">
            <li class="titleA">
                <span ng-bind="item.name"></span>
            </li>
            <li ng-repeat="itemA in item.children track by $index" ng-class="{active: itemA.isChecked, activeB: itemA.isActive}">
                <a class="parent_menuItem" href="{{itemA.href || 'javascript:void(0)'}}" target="{{itemA._blank}}" ng-click="collapse($event, itemA.href)">
                    <i class="fa {{itemA.icon || 'fa-flask'}}" ></i>
                    <span class="nav-label" ng-bind="itemA.name"></span>
                    <span class="fa arrow" ng-if="itemA.children && itemA.children.length"></span>
                </a>
                <ul class="nav nav-second-level collapse" id="navItemA_{{$parent.$index}}_{{$index}}" ng-if="itemA.children && itemA.children.length" ng-class="{in: itemA.isChecked}" aria-expanded="{{itemA.isChecked}}">
                    <li ng-repeat="itemB in itemA.children track by $index" ng-class="{active: itemB.isActive&&itemB.isChecked}" ng-if="itemB.resourcetype===0">
                        <a class="J_menuItem" href="{{itemB.href}}" target="{{itemB._blank}}" ng-click="collapse($event, itemB.href, itemA.href)">
                            <span class="nav-label" ng-bind="itemB.name"></span>
                            <span class="fa chevron" ng-if="itemB.children && itemB.children.length"></span>
                        </a>
                        <ul class="nav nav-third-level collapse" id="navItemB_{{$parent.$index}}_{{$index}}" ng-if="itemB.children && itemB.children.length" ng-class="{in: itemB.isChecked}" aria-expanded="{{itemB.isChecked}}">
                            <li ng-repeat="itemC in itemB.children track by $index" ng-class="{active: itemC.isChecked}" ng-if="itemC.resourcetype===0">
                                <a class="J_menuItem" href="{{itemC.href}}" ng-bind="itemC.name" target="{{itemC._blank}}"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="line"></li>
        </ul>
    </div>
    <div class="menu-side-lock" ng-click="toggleLock()"><i class="fa side-lick-icon" ng-class="{true: 'fa-lock', false:'fa-unlock'}[sideLockDisplay]"></i></div>
</div>