.fixed-table-container *{
    white-space: nowrap;
}
.fixed-table-container .tablebox{
    position: relative;
    overflow:visible; 
}
.fixed-table-container .tablebox .tablebox-content{
    width: 100%;
    min-height: 10px;
}
.fixed-table-container .fixed-header-box{
    overflow: hidden;
    width:100%;
    z-index: 1;
    border-radius: 4px 4px 0 0;
    position: relative;
}

.fixed-table-container .fix-top-left{
    position: absolute;
    top:0;
    left:0;
    width: auto;
    overflow: hidden;
}
.fixed-table-container .fix-top-right{
    position: absolute;
    top:0;
    right:0;
    width: auto;
    overflow: hidden;
}
.fixed-table-container .fix-top-right table{
    float: right;
}

.fixed-table-container .fixed-table{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}  
.fixed-table-container .fixed-table .table{
    width: auto;
}
.fixed-table-container .fixed-table .fix-right{
    float:right;
    border-left: none;
    pointer-events: all;
}
.fixed-table-container .fixed-table .fix-left{
    float: left;
    border-right: none;
    pointer-events: all;
}
.table-th-border.left-box-shadow .fix-top-left{
    border-right:1px solid #DADDE4;
}
.fixed-table-container.left-box-shadow .fix-left{
    box-shadow: 3px 0 3px 3px rgba(235, 239, 246, 0.5);
    
    border-right:1px solid #ebeff6;
}
.table-th-border.right-box-shadow .fix-top-right{
    border-left:1px solid #DADDE4;
}
.fixed-table-container.right-box-shadow .fix-right{
    box-shadow: -3px 0px 3px 3px rgba(235, 239, 246, 0.5);
    border-left:1px solid #ebeff6;
}

.fixed-table-container .fix-top-left,
.fixed-table-container .fix-left table{
    border-right: none;
}
.fixed-table-container .fix-top-right,
.fixed-table-container .fix-right table{
    border-left: none;
}
.fixed-table-container tr.hover{
    background: #E1E7ED !important;
}

.fixed-table-overflow-x .tablebox .tablebox-content{
    overflow-x: auto;
}
.fixed-table-overflow-y .fixed-table,
.fixed-table-overflow-y .tablebox .tablebox-content{
    overflow-y: auto;
}
.fixed-table-container .tablebox-content,
.fixed-table-container .fixed-table{
    margin-top: -2px;
}
.fixed-table-container.table-th-border .tablebox-content,
.fixed-table-container.table-th-border .fixed-table{
    margin-top: -1px;
}
.fixed-table-container .fixed-header-box table{
    border-radius: 3px 3px 0 0;
}
.fixed-table-container .tablebox-content .table{
    margin-top: -34px;
}

