.fixed-table-container *{
    white-space: nowrap;
}
.fixed-table-container .table > tbody > tr > td{
    padding-top:0px;
    padding-bottom: 0px;
    height: 40px;
    line-height: 40px;
}
.fixed-table{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.fixed-table .table{
    width: auto;
}
.fixed-table .fix-header-outer{
    display: none;
    width: 1200px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.fixed-table .fix-header{
    position: absolute;
    min-width: 1500px;
    top: 0;
}
.fixed-table .fix-right{
    position: absolute;
    border-left: none;
    top: 0;
    right: 0;
}
.fixed-table .fix-left{
    position: absolute;
    border-right: none;
    table-layout: fixed;
    word-break: break-all;
    top: 0;
    left: 0;
}

.fixed-table .fix-table-colgroup{
    background: #fff;
}
.fixed-table .fixed{
    position: fixed;
    top: 50px;
    height: 50px;
    z-index: 1;
}
.fixed-table .outer-hide-scroll .fixed{
    position: relative;
    top: 0;
}
.fixed-table .outer-hide-scroll{
    position: fixed;
    top: 50px;
    height: 35px;
    overflow: hidden;
}
.fixed-table .left-box-shadow{
    box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);
}
.fixed-table .right-box-shadow{
    box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
}
.fixed-table .scroll-thead th{
    border: none;
}
.fixed-table .table > tbody > tr.fix-table-hover, 
table.table > tbody > tr:nth-of-type(even).fix-table-hover, 
table.table > tbody > tr:nth-of-type(odd).fix-table-hover{
    background: #E1E7ED;
}

.fixed-table-container .tablebox{
    position: relative;
}
.fixed-table-container .fixed-header-box{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    width:100%;
    z-index: 1;
}
.fixed-table-container .fix-top-left{
    position: absolute;
    top:0;
    left:0;
    width: auto;
}
.fixed-table-container .fix-top-right{
    position: absolute;
    top:0;
    right:0;
    width: auto;
}
.fixed-table-container .fixed-table{
    height: 1px;
    width: 100%;
}
.fixed-table-container tr.hover{
    background: #E1E7ED !important;
    overflow-y: auto !important;
}
.fixed-table-container .fix-right,
.fixed-table-container .fix-left{
    overflow-y: hidden;
}