<div class="search-form form-inline">
    <div class="input-group">
        <span class="input-group-addon">切换城市</span>
        <select class="form-control">
            <option value="">全国</option>
        </select>
    </div>

    <div class="input-group">
        <span class="input-group-addon">完成时间</span>
        <div date-picker-range="" date-range-result="dateRangeResult" start-date-range="startDateRange" end-date-range="endDateRange"></div>
    </div>

    <div class="form-group input-group">
        <span class="input-group-addon">分值区间</span>
        <input type="text" class="form-control w100">
        <span class="input-group-addon input-group-addon-no">-</span>          
        <input type="text" class="form-control w100">
    </div>

    <div class="input-group">
        <label class="checkbox-inline" ng-class="{'checkbox-inline-checked': demoSearchFormCheckboxA}" ng-click="demoSearchFormCheckboxA = !demoSearchFormCheckboxA">
            线上支付
        </label>
        <label class="checkbox-inline" ng-class="{'checkbox-inline-checked': demoSearchFormCheckboxB}" ng-click="demoSearchFormCheckboxB = !demoSearchFormCheckboxB">
            线下支付
        </label>
    </div>

    <div class="input-group input-bar">
        <input type="text" placeholder="请输入姓名/手机号/订单号"  class="form-control">
        <span class="input-group-btn">
            <button type="button" class="btn btn-success">搜索</button>
        </span>
    </div>
    
    <div class="fr">
        <button type="button" class="btn btn-export">详情导出</button>
    </div>
</div>