<div>
    <img ng-src="{{ imgUrl }}" style="display: none;">
    <img ng-if="!customCss" ng-src="{{ imgUrl }}" class="minImg" ng-click="imgClick($event,imgUrl)" alt="{{altText}}" ng-show="!textOnly">
    <div ng-if="customCss && miniImg" class="minImgDiv" style="background: url({{miniImgUrl}}) no-repeat center center;background-size:contain;" ng-click="imgClick($event,imgUrl)">
        <div>
            <span class="glyphicon glyphicon-eye-open"></span>
        </div>
    </div>
    <div ng-if="customCss && !miniImg" class="minImgDiv" style="background: url({{imgUrl}}) no-repeat center center;background-size:contain;" ng-click="imgClick($event,imgUrl)">
        <div>
            <span class="glyphicon glyphicon-eye-open"></span>
        </div>
    </div>
    <a ng-click="imgClick($event,imgUrl)" ng-show="textOnly">{{altText}}</a>
</div>